<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.daydayup.mapper.ScoreMapper">
    <insert id="insertScore" parameterType="com.smxy.daydayup.pojo.Score">
        INSERT INTO sm_score (score_id, user_id, exam_id, object_score, subject_score, user_score, retake, time_create, time_modify)
        VALUES (#{scoreId}, #{userId}, #{examId}, #{objectScore}, #{subjectScore}, #{userScore}, #{retake}, Now(), Now())
    </insert>
</mapper>
