<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.daydayup.mapper.UexamMapper">

    <insert id="insertUexam">
        INSERT INTO sm_user_exams (exam_id, user_id, retake, item_id, option_id, answer, time_create, time_modify)
        VALUES (#{examId}, #{userId}, #{retake}, #{itemId}, #{optionId}, #{answer}, NOW(), NOW())
    </insert>

</mapper>